body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: [inicio] 1fr [linea2] 1fr [linea3] 1fr [destacado-end] 1fr 
                           [linea5] 1fr [destacado2-end] 1fr [linea7] 1fr [final];
    grid-template-rows: [inicio] 200px [linea2] 200px [linea3] 100px [linea4] 100px [final];
    grid-gap: 5px;
    height: 100vh;
}

.item {
    background: lightblue;
    padding: 10px;
    border: 1px solid black;
}

.item:nth-of-type(1) {
    grid-column: inicio / final;
    grid-row: inicio / linea3;
}

.item:nth-of-type(2) {
    grid-column: inicio / destacado-end;
    grid-row: linea3 / final;
}

.item:nth-of-type(3) {
    grid-column: destacado-end / destacado2-end;
    grid-row: linea3 / final;
}

.item:nth-of-type(4) {
    grid-column: destacado2-end / final;
    grid-row: linea3 / span 1;
}